<style>
    .color {
        color: black;
    }
</style>

<div class="w3-container" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="flex-r">
        <section id="login" class="flex-r">

            <!-- left -->


            <div class="l-login flex-c">
                <div class="login-img">
                    <img src="./img/login/login-header-img.png" alt="">
                </div>
            </div>


            <!-- right -->


            <div class="wrapper">

                <!-- login  -->


                <form id="login-wrapper" class="flex-c">
                    <div class="input-box flex-c">
                        <div class="color">Email Address </div>
                        <input type="email" name="Username" placeholder="Enter email address">
                    </div>

                    <div class=" check-item flex-r">
                        <span class="flex-r">
                            <input type="checkbox"> &nbsp; <span class="color"> Remember me </span>
                        </span>
                    </div>

                    <button id="login-btn" class="submit-btn" type="submit">SUBMIT</button>

                    <div class="last-line">
                        <a href="http://{{{data.host}}}:{{{data.port}}}/register" style="color: red;">Don't have a account ?</a>
                    </div>
                </form>

            </div>

        </section>
    </div>
</div>