<!--
    Component 1
        First Slider
-->

<div class="container_1">

    <div class="w3-display-container  mySlides1">
        <img src="/img/background_1.jpg" class="img w3-animate-right">
        <div class="container cotaner_opacity" style="width: 466px; height: 342px;">
            <h2 class="zoom_out h1"> Let's Get <br> Started </h2>
            <p class="zoom_out" style="font: 'Poppins', sans-serif;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
                Ipsam deleniti nihil ut ex quas a reiciendis unde quod,
            </p>

            <button class="zoom_out custom-btn btn-9 "> Free Class </button>
        </div>
    </div>

    <div class="w3-display-container  mySlides1" style=" display: none;">
        <img src="/img/background_2.jpg" class="img w3-animate-right">
        <div class="container cotaner_opacity" style="width: 600px; height: 429px;">
            <h1 class="zoom_out h1"> Become A <br> Certified <br /> Hacker </h1>
            <p class="zoom_out" style="font: 'Poppins', sans-serif;">
                Our courses comes with a certificate that can be serve as a proof in industry.
            </p>

            <button class="zoom_out custom-btn btn-9"> Free Class </button>
        </div>
    </div>

    <div class="w3-display-container  mySlides1" style="display: none;">
        <img src="/img/background_3.jpg" class="img w3-animate-right">
        <div class="container cotaner_opacity" style="width: 615px; height: 319px;">
            <h1 class="zoom_out h1"> World Of <br /> Possibilities. </h1>
            <p class="zoom_out" style="font: 'Poppins', sans-serif;">
                Ability to learn online or offline any way you want.
            </p>

            <button class="zoom_out custom-btn btn-9"> Free Class </button>
        </div>
    </div>

    <div class="w3-container w3-display-left" onclick="plusSlides(-1, 0)" style="height: 100%; width: 100px;">
        <a class="w3-display-middle a-slide-btn" onclick="plusSlides(-1, 0)">&#10094;</a>
    </div>
    <div class="w3-container w3-display-right" onclick="plusSlides(1, 0)" style="height: 100%; width: 100px;">
        <a class="w3-display-middle a-slide-btn" onclick="plusSlides(1, 0)">&#10095;</a>
    </div>
</div>

<!--
    Component 2
        Second Crousel
-->
<div class="cotainer">
    <h2 class="w3-center"> Our Some Free Courses </h2>

    <div class="w3-display-container" style="width: 80%; margin: auto;">

        <div class="mySlides2" style="background-color: black;">

            <div class="home_row">
                <div class="w3-card home_column column_crousel">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 1 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 2 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 3 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 4 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>
            </div>
        </div>

        <div class="mySlides2" style="background-color: black; display: none;">

            <div class="home_row">
                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 5 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 6 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 7 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 8 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>
            </div>
        </div>

        <div class="mySlides2" style="background-color: black; display: none;">

            <div class="home_row">
                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 9 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 10 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 11 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>

                <div class="home_column w3-card column_crousel" style="width: 400px;">
                    <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                    <h3> Lorem ipsum dolor sit amet adipisicing elit... </h3>
                    <span> First Crousel 12 </span>
                    <div class="">
                        <span> 4.6 </span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    &#8377;0.00
                </div>
            </div>
        </div>

        <!-- Display Left And Right Button -->

        <div class="w3-container w3-display-left" onclick="plusSlides(-1, 1)" style="height: 100%; left: -3%;">
            <a class="w3-display-middle a-slide-btn" onclick="plusSlides(-1, 1)"> &#10094; </a>
        </div>
        <div class="w3-container w3-display-right" style="height: 100%; right: -32px;" onclick="plusSlides(1, 1)">
            <a class="w3-display-middle a-slide-btn" onclick="plusSlides(1, 1)"> &#10095; </a>
        </div>

    </div>
</div>

<!-- Component 3
    Third Free Member Ship Banner
-->

<div class="w3-black w3-container" style="margin-top: 15px;">
    <div class="w3-center">
        <h1> Get Membership </h1>
    </div>

    <div class="w3-container">
        <div class="w3-row" style="margin-top: 20px;">
            <div class="w3-half">
                <img src="/img/903744_8eb2.jpg" style="width: 100%; height: auto;">
            </div>
            <div class="w3-half">
                <div class="w3-center" style="margin-top: 28px;">
                    <h1 style="font-size: 38px;"> One Membership </br> Many Benefits </h1>

                    <p style="font-size: 20px; margin: 30px;"> Our Prime Membership Now Also Includes Along With
                        Unlimited Free, Free Fast Delivery on Elegibal Items, Exclusive Access to Deals And More</p>

                    <a class="column_crousel " style="border: 1px solid white;"> Get Member Ship </a>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- 
    Component 4
        Four Learning With Free Course
        Heading
        Hindi And English
        Crousel
-->

<div class="w3-container" style="margin-top: 50px;">
    <!--
        Component 4-I
            Heading
    -->
    <div class="w3-center">
        <h1> Start Learning With Free Course </h1>
        <p style="font-size: 20px;"> Free Online Course From The Top Experts. </p>

        <!-- Build tab here -->
        <div class="" style="width: fit-content; margin: auto; background-color: white;">
            <!-- button-lang
                    onclick="loadCrouselLang('english')"
            -->
            <a class=" w3-button language_name w3-red" onclick="openLang(event,'hindi')"
                style="width: 100px; color: black;">HINDI</a>
            <a class=" w3-button language_name" onclick="openLang(event,'english')" style="color: black;">ENGLISH</a>
        </div>


    </div>


    <!-- Component 4-II
            Language Component
                Hindi and English
    -->

    <div class="" style="margin: auto; width: fit-content; margin-top: 25px; ">
        <div class="home_row">
            <div class="home_column course_name tab_active" onclick="openCourse(event,'basicComputer')">
                <span style="font-size: 20px; padding: 15px;"> Basic Computer </span>
            </div>
            <div class="home_column course_name" onclick="openCourse(event,'programming')">
                <span style="font-size: 20px; padding: 15px;"> Programming </span>
            </div>
            <div class="home_column course_name" onclick="openCourse(event,'digitalMarketing')">
                <span style="font-size: 20px; padding: 15px;"> Digital Marketing </span>
            </div>
            <div class="home_column course_name" onclick="openCourse(event, 'hacking')">
                <span style="font-size: 20px; padding: 15px;"> Hacking </span>
            </div>
            <div class="home_column course_name" onclick="openCourse(event, 'webDevelopment')">
                <span style="font-size: 20px; padding: 15px;"> Web Development </span>
            </div>
        </div>
    </div>

    <div id="course_list" class="tab" style="margin-top: 15px;">
        <div class="w3-display-container" style="width: 80%; margin: auto;">

            <div class="mySlides3" style="display: block;">
                <div class="home_row">
                    <div class="w3-card home_column column_crousel">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>
                </div>
            </div>

            <div class="mySlides3" style="display: none;">
                <div class="home_row">
                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>
                </div>
            </div>

            <div class="mySlides3" style="display: none;">
                <div class="home_row">
                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>

                    <div class="home_column w3-card column_crousel" style="width: 400px;">
                        <img class="crousel_img_border" src="/img/903744_8eb2.jpg">
                        <h3 class="course_title"> </h3>
                        <span class="course_lang"> </span>
                        <div class="">
                            <span> 4.6 </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        &#8377;0.00
                    </div>
                </div>
            </div>

            <!-- Display Left And Right Button -->

            <div class="w3-container w3-display-left" onclick="plusSlides(-1, 2)" style="height: 100%; left: -3%;">
                <a class="w3-display-middle a-slide-btn" onclick="plusSlides(-1, 2)"> &#10094; </a>
            </div>
            <div class="w3-container w3-display-right" style="height: 100%; right: -32px;" onclick="plusSlides(1, 2)">
                <a class="w3-display-middle a-slide-btn" onclick="plusSlides(1, 2)"> &#10095; </a>
            </div>

        </div>
    </div>
    {{!--
    Component 5
    --}}
    <div class="">
        <h3 class="w3-center"> Brand That Trust our Potential </h3>
        <div class="w3-row" style="width: 70%; margin: auto;">
            <!-- Slider Will Start Here -->
            <div class="w3-quarter w3-left">
                <img src="/img/brand_1.jpg" alt="logo 1" style="width: 130px; height: 130px;" />
            </div>

            <div class="w3-quarter w3-right">
                <img src="/img/brand_2.jpg" alt="logo 2" style="width: 130px; height: 130px;" />
            </div>
            <!-- Slider Will Close Here -->
        </div>
    </div>
    {{!--
    Component 6
    Student Reveiw
    --}}
    <div class="">
        <h2 class="w3-center"> Student Reveiw </h2>
        <div class="w3-row" style="width: 80%; margin: auto;">
            <div class="w3-col m5 l5 w3-left w3-border w3-round-large" style="margin-left: 4%; margin-right: 4%; ">
                <div class="w3-row">
                    <div class="w3-col m4 l4" style="margin-right: 15px;">
                        <img class="w3-circle" src="" style="width: 150px; height: 150px;" />
                    </div>
                    <div class="w3-col m6 l6" style="margin-top: 27px ;">
                        <span> This is The Text one </span>
                        <div class="">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>

                <hr>

                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore
                    et
                    sed do eiusmod tempor incididunt ut labore et</p>
            </div>

            <div class="w3-col m5 l5 w3-left w3-border w3-round-large" style="margin-left: 4%; margin-right: 4%; ">
                <div class="w3-row">
                    <div class="w3-col m4 l4" style="margin-right: 15px;">
                        <img class="w3-circle" src="" style="width: 150px; height: 150px;" />
                    </div>
                    <div class="w3-col m6 l6" style="margin-top: 27px ;">
                        <span> This is The Text one </span>
                        <div class="">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore
                    et
                    sed do eiusmod tempor incididunt ut labore et
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Home Page JS When user Is Logout-->
<script src="/js/home.js"></script>
